.Checkout_wrapper__1i2Bl {
    width: 70%;
    max-width: 768px;
    margin: auto;
  }
  .Checkout_title__3Dod9 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
    color: #aaa;
  }

  
 