.Header_header__182Qc {
    background-color: #fafafa;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  .Header_container__3BetX {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    max-width: 1084px;
    padding: 5px 30px;
    margin: auto;
  }
  .Header_logo__2NvDa {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    align-items: flex-end;
    font-size: 16px;
    color: #111;
  }
  .Header_logo__2NvDa img {
    width: 80px;
    margin-right: 4px;
  }
  .Header_shop__2h9R9 {
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
  }
  .Header_icon__2S3Ks {
    width: 18px;
    margin-left: 5px;
  }
  .Header_user_actions__2JBmd,
  .Header_route__2PgnE {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
  }
  .Header_route__2PgnE {
    padding: 0 20px;
    border-right: 1px solid #666;
    color: #000;
  }
  .Header_route__2PgnE:hover,
  .Header_active__2hGI9 {
    text-decoration: underline;
  }
  
  .CartHeader_cart__1o7mb {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    padding: 5px 0;
    padding-left: 20px;
  }
  .CartHeader_icon__a4zZI {
    width: 18px;
  }
  .CartHeader_count__j8Uih {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
  }

  .Categories_optionbar__1zY3C {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    padding: 10px 30px;
    margin-top: 1px;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
  }
  .Categories_item__2Vyh8 {
    padding: 5px 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #333;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    list-style: none;
    cursor: pointer;
  }
  .Categories_item__2Vyh8:hover,
  .Categories_active__30_rV .Categories_item__2Vyh8 {
    color: #000;
  }
  .Categories_separator__3awbQ {
    color: #666;
  }