.Button_btn__1N_e1 {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  height: 32px;
  padding: 0 20px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  white-space: nowrap;
}


span {
  font-size: 24px;
  margin-left: 8px;
}
